.table {
    max-width: 100%;
    min-height: 195px;
    padding: 20px 10px ;
    height: fit-content;
    border: 1px solid black;
    overflow-x: scroll;
   
}
.asf {
    height: 100%;
    width: 100%;
    display: flex;
    
}

h3 {
    margin: 0;
}

.pk {
    min-width: 20px;
    height: 32px;
    padding: 2px 0;
    text-align: center;
    border: 1px solid black;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 5px;
}

.pk_wrapper {
    display: flex;
}

.table_wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.road_constr {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  black;
    height: 235px;
}

.names {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 50px;
    width: 100%;
}


.name {
    border: 1px solid black;
    border-right:none ;
    border-left:none ;
    text-align: center;
    padding: 0 10px;
    height: 20px;
}